
header {
    border: 1px solid goldenrod;
}

a {
    margin-right: 50px;
    color: purple;
}

.disabled {
    color: gray;
}

a .disabled {
    color: purple;
}

.active {
    color: yellow;
}

.parent div div {
    color: red;
}

.parent h4 div {
    color: blue;
}

div div + h4 {
    background-color: red;
}

div ~ h4 {
    background-color: blue;
}

.grandparent h4 {
    border: 2px solid black;
    border-radius: 10px;
}

.promo {
    font-style: bold;
    color: gold;
}

footer input {
    height: 25px;
}